* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
  background: url(/images/SL_043021_42650_12.jpg);
  background-size: cover;
  color: #fff;
}

.scoreboard {
  display: flex;
  gap: 5em;
  text-align: center;
  color: aqua;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.scoreboard p {
  font-size: 32px;
  margin-top: 0.5em;
}

.turns-container {
  display: flex;
  color: aqua;
  gap: 10em;
}

.turns-container h2 {
  font-size: 60px;
}

.weapons-container button {
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
  padding: 0.5em;
  border-radius: 10px;
  cursor: pointer;
}

.weapons-container button:hover {
  color: #000000;
  background-color: #ffffff;
}